@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,500;0,600;1,300&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  color: #444;
  margin: 0;
  font-size: 18px;
  padding: auto 20px;
  background-image: url(bg.png);
  transform: scale(0.8);
  transition-property: initial 1500ms;
}
.wrapper {
  display: flex;
  height: 100vh;
}
.card {
  width: 100%;
  max-width: 700px;
  background: #FFF;
  margin: auto;
  border-radius: 70px;
  box-shadow: 0 8px 60px -10px #3339;
}
.img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-40%);
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 5px 50px 0 rgba(255, 255, 255, 0.952),
              0 0 0 10px rgb(54, 129, 241);
}
@media screen and (max-width: 786px) {
  .card {
    margin: 100px 20px auto 20px ;
  }
}
.cnt {
  margin-top: -35px;
  padding: 0 20px;
  text-align: center;
  padding-bottom: 40px;
  transition: all 300ms;
}
.name {
  font-weight: 700;
  font-size: 30px;
  color: #64F;
  margin-bottom: 20px;
}
.txt {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 7px;
}
.map-pin{
  scale: 1;
}
i.fa-thumbtack {
  margin: 0 5px;
}
.card-inf {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 35px;
}
.item {
  padding: 10px 35px;
  min-width: 150px;
}
.title {
  font-weight: 700;
  font-size: 27px;
}
.card-social {
  margin-top: 25px;
}
.card-social a {
  display: inline-flex;
  width: 55px;
  height: 55px;
  margin: 20px;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-size: 30px;
  border-radius: 50%;
  text-decoration: none;
  transition: all 100ms;
}
.card-social .youtube {
  background: linear-gradient(45deg, rgb(211, 22, 22), rgb(196, 86, 86));
  box-shadow: 0 4px 30px rgb(199, 25, 25);
}
.card-social .instagram {
  background: linear-gradient(45deg, rgb(201, 184, 36), rgb(182, 20, 182));
  box-shadow: 0 4px 30px rgb(180, 16, 202);
}
.card-social .discord {
  background: linear-gradient(45deg, #45F, rgb(101, 140, 177));
  box-shadow: 0 4px 30px rgb(33, 88, 189);
}
.card-social .github {
  background: linear-gradient(45deg, #333, #667);
  box-shadow: 0 4px 30px rgb(51, 68, 68);
}
a:hover {
  transform: scale(1.2);
}
.card-button {
  margin-top: 40px;
}
button {
  min-width: 201px;
  min-height: 55px;
  margin: 15px 35px;
  font-size: 19px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  border-radius: 50px;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 300ms;
}
.btn-blue {
  background: linear-gradient(45deg, #1AF, #07C);
  box-shadow: 0 4px 30px rgb(17, 119, 221);
}
.btn-orange {
  background: linear-gradient(45deg, #D15, #D52);
  box-shadow: 0 4px 30px rgb(221, 34, 68);
}
.btn-blue:hover {
  box-shadow: 0 4px 30px #17DB;
}
.btn-orange:hover {
  box-shadow: 0 4px 30px #D24B;
}
button:hover {
  transform: translateY(-5px);
}
@media screen and (max-width: 576px) {
  button {
    margin: 0;
    margin-bottom: 16px;
    width: 100%;
    max-width: 350px;
  }
}
